root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*.yml,*.yaml}]
indent_size = 2

# These two files contain YAML code that is indented with two spaces.
[/{README.rst,assets/update_readme_pre_commit_example.py}]
indent_size = unset
